source https://nuget.org/api/v2
storage:none

clitool dotnet-fable 2.0.11
nuget Fable.Core 2.0.3
nuget Fable.Import.Browser
nuget Fable.Import.Mocha
nuget Fable.Import.Node
nuget Fable.Import.Electron
nuget Fable.PowerPack
