html body {
  background-color: inherit;
}

.input-box {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%
}

hr {
  border-width: 2px;
  border-color: black;
}

.warning {
  color: red;
}

.sample-draw {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  width: 20%;
  height: 20%;
}

.dialog-buttons {
  position: absolute;
  right: 3%;
  width: 20%;
  text-align: center;
  padding-left: 3%;
  padding-bottom: 2%;
}

.inline-boxes {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  overflow-x: scroll;
}

.column-inline {
  width: 6%;
}
